@{
    ViewData["Title"] = "Create";
}
@model Category
<div class="container">
  <div class="row p-5">
    <form asp-action="Create" method="post">
    <div class="card ">
        <h4 class="m-4">Kategori Ekle</h4>
        <div class="card-body ">
            <div class="mb-3 ">
                <label for="" class="form-label">Yeni Kategori Ekle</label>
                <input
                    type="text"
                    class="form-control"
                    asp-for="Name"
                    aria-describedby="helpId"
                    placeholder=""
                />
                <small id="helpId" class="form-text text-muted">Kategori Adını Giriniz</small>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Açıklama</label>
                <textarea class="form-control" asp-for="Description" rows="3"></textarea>
            </div>
            <button class="btn btn-outline-primary" type="submit"> Kaydet</button>
        </div>
    </div>
    </form>


    
    
  </div>    
</div>