@using X.PagedList
@using X.Web.PagedList
 
 @model IPagedList<Product>

@{
    ViewData["Title"] = "Home Page";
}



<partial name="./componets/_slider.cshtml" />
<partial name="./componets/_category.cshtml" />
<partial name="./componets/_tabs.cshtml" />
<div class="d-flex justify-content-center">
    @Html.PagedListPager(
        Model, 
        page => Url.Action("Index", new { page }), 
        new PagedListRenderOptions
        {
            UlElementClasses = new[] { "pagination" }, // Bootstrap ile uyumlu sınıf
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
            
            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
            MaximumPageNumbersToDisplay = 5
        }
    )
</div>
<partial name="./componets/_banner.cshtml" />
<partial name="./componets/_features.cshtml" />
<partial name="./componets/_offer.cshtml" />
<partial name="./componets/_allproducts.cshtml"   />
<partial name="./componets/_testimonial.cshtml" />
<partial name="./componets/_brand.cshtml" />
<partial name="./componets/_instagram.cshtml" />
<partial name="./componets/_services.cshtml" />




    
 
