    <section class="section ec-category-section section-space-mb">
        <div class="container">
            <div class="row">
                <div class="ec_cat_slider">
                    <div class="ec_cat_content">
                        <div class="ec_cat_inner">
                            <a href="#">
                                <h2 class="d-none">Category</h2>
                                <div class="ec-cat-image">
                                    <img src="assets/images/category-image/8.svg" class="svg_img cat_svg" alt="" />
                                </div>
                                <div class="ec-cat-desc">
                                    <span class="ec-section-title">Laptops & PC</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="ec_cat_content">
                        <div class="ec_cat_inner">
                            <a href="#">
                                <div class="ec-cat-image">
                                    <img src="assets/images/category-image/9.svg" class="svg_img cat_svg" alt="" />
                                </div>
                                <div class="ec-cat-desc">
                                    <span class="ec-section-title">Smartwatches</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="ec_cat_content">
                        <div class="ec_cat_inner">
                            <a href="#">
                                <div class="ec-cat-image">
                                    <img src="assets/images/category-image/10.svg" class="svg_img cat_svg" alt="" />
                                </div>
                                <div class="ec-cat-desc">
                                    <span class="ec-section-title">Cameras</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="ec_cat_content">
                        <div class="ec_cat_inner">
                            <a href="#">
                                <div class="ec-cat-image">
                                    <img src="assets/images/category-image/11.svg" class="svg_img cat_svg" alt="" />
                                </div>
                                <div class="ec-cat-desc">
                                    <span class="ec-section-title">Console Games</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="ec_cat_content">
                        <div class="ec_cat_inner">
                            <a href="#">
                                <div class="ec-cat-image">
                                    <img src="assets/images/category-image/12.svg" class="svg_img cat_svg" alt="" />
                                </div>
                                <div class="ec-cat-desc">
                                    <span class="ec-section-title">Headphones</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="ec_cat_content">
                        <div class="ec_cat_inner">
                            <a href="#">
                                <div class="ec-cat-image">
                                    <img src="assets/images/category-image/13.svg" class="svg_img cat_svg" alt="" />
                                </div>
                                <div class="ec-cat-desc">
                                    <span class="ec-section-title">Virtual Reality</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="ec_cat_content">
                        <div class="ec_cat_inner">
                            <a href="#">
                                <div class="ec-cat-image">
                                    <img src="assets/images/category-image/14.svg" class="svg_img cat_svg" alt="" />
                                </div>
                                <div class="ec-cat-desc">
                                    <span class="ec-section-title">Cameras</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>