    <section class="section ec-exe-spe-section section-space-ptb-100 section-space-mt section-space-mb-100"
        style="background-image: url('assets/images/special-product/background.jpg');">
        <div class="container">
            <div class="row">
                <!--  Special Section Start -->
                <div class="ec-spe-section col-lg-6 col-md-12 col-sm-12 margin-b-30">
                    <div class="col-md-12 text-left">
                        <div class="section-title mb-6">
                            <h2 class="ec-title">Deals of the days</h2>
                        </div>
                    </div>

                    <div class="ec-spe-products">
                        <div class="ec-fs-product">
                            <div class="ec-fs-pro-inner ec-product-inner">
                                <div class="ec-fs-pro-image-outer col-lg-6 col-md-6 col-sm-6">
                                    <div class="ec-fs-pro-image">
                                        <a href="product-left-sidebar.html" class="image"><img class="main-image"
                                                src="assets/images/special-product/1_1.jpg" alt="Product" /></a>
                                    </div>
                                </div>
                                <div class="ec-pro-content col-lg-6 col-md-6 col-sm-6">
                                    <h5 class="ec-pro-title"><a href="product-left-sidebar.html">Samsung gaming console s8</a></h5>
                                    <h6 class="ec-pro-stitle"><a href="shop-left-sidebar-col-3.html">Gaming</a></h6>
                                    <div class="ec-pro-rat-price">
                                        <span class="ec-price">
                                            <span class="new-price">$159.00</span>
                                            <span class="old-price">$200.00</span>
                                        </span>
                                    </div>
                                    <div class="ec-fs-pro-progress">
                                        <span class="ec-fs-pro-progress-desc"><span>Solid:
                                                <b>0</b></span><span>Available: <b>350</b></span></span>
                                        <span class="ec-fs-pro-progressbar"></span>
                                    </div>
                                    <div class="countdowntimer">
                                        <span class="ec-fs-count-desc"> Hurry up ! offers ends in:</span>
                                        <span id="ec-fs-count-1"></span>
                                    </div>
                                    <div class="ec-pro-actions">
                                        <button title="Add To Cart" class="add-to-cart btn btn-primary">Add To
                                            Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ec-fs-product">
                            <div class="ec-fs-pro-inner ec-product-inner">
                                <div class="ec-fs-pro-image-outer col-lg-6 col-md-6 col-sm-6">
                                    <div class="ec-fs-pro-image">
                                        <a href="product-left-sidebar.html" class="image"><img class="main-image"
                                                src="assets/images/special-product/2_1.jpg" alt="Product" /></a>
                                    </div>
                                </div>
                                <div class="ec-pro-content col-lg-6 col-md-6 col-sm-6">
                                    <h5 class="ec-pro-title"><a href="product-left-sidebar.html">Wireless Earphone with Mic neckband </a></h5>
                                    <h6 class="ec-pro-stitle"><a href="shop-left-sidebar-col-3.html">Multimedia</a></h6>
                                    <div class="ec-pro-rat-price">
                                        <span class="ec-price">
                                            <span class="new-price">$480.00</span>
                                            <span class="old-price">$700.00</span>
                                        </span>
                                    </div>
                                    <div class="ec-fs-pro-progress">
                                        <span class="ec-fs-pro-progress-desc"><span>Solid:
                                                <b>0</b></span><span>Available: <b>200</b></span></span>
                                        <span class="ec-fs-pro-progressbar"></span>
                                    </div>
                                    <div class="countdowntimer">
                                        <span class="ec-fs-count-desc"> Hurry up ! offers ends in:</span>
                                        <span id="ec-fs-count-2"></span>
                                    </div>
                                    <div class="ec-pro-actions">
                                        <button title="Add To Cart" class="add-to-cart btn btn-primary">Add To
                                            Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Special Section End -->
                <!--  Feature Section Start -->
                <div class="ec-exe-section col-lg-6 col-md-12 col-sm-12">
                    <div class="col-md-12 text-left">
                        <div class="section-title mb-6">
                            <h2 class="ec-title">Exclusive Products</h2>
                        </div>
                    </div>

                    <div class="ec-exe-products product-mt-minus-15">
                        <div class="ec-product-content">
                            <div class="ec-product-inner">
                                <div class="ec-product-hover"></div>
                                <div class="ec-pro-image-outer">
                                    <div class="ec-pro-image">
                                        <a href="product-left-sidebar.html" class="image">
                                            <img class="main-image" src="assets/images/special-product/3_1.jpg"
                                                alt="Product" />
                                            <img class="hover-image" src="assets/images/special-product/3_2.jpg"
                                                alt="Product" />
                                        </a>
                                    </div>
                                </div>
                                <div class="ec-pro-content">
                                    <div class="ec-pro-option">
                                        <div class="ec-pro-opt-inner">
                                            <div class="ec-pro-color">
                                                <ul class="ec-opt-swatch ec-change-img">
                                                    <li class="active"><a href="#" class="ec-opt-clr-img"
                                                            data-src="assets/images/special-product/3_1.jpg"
                                                            data-src-hover="assets/images/special-product/3_1.jpg"
                                                            data-tooltip="Gray"><span
                                                                style="background-color:#dbdbdb;"></span></a></li>
                                                    <li><a href="#" class="ec-opt-clr-img"
                                                            data-src="assets/images/special-product/3_2.jpg"
                                                            data-src-hover="assets/images/special-product/3_2.jpg"
                                                            data-tooltip="Orange"><span
                                                                style="background-color:#76e7e7;"></span></a></li>
                                                </ul>
                                            </div>
                                            <div class="ec-pro-compare">
                                                <a href="compare.html" class="ec-btn-group compare" title="Compare"><img
                                                        src="assets/images/icons/compare_5.svg" class="svg_img pro_svg"
                                                        alt="" /></a>
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="ec-pro-title"><a href="product-left-sidebar.html">JBLK wireless speaker</a></h5>
                                    <h6 class="ec-pro-stitle"><a href="shop-left-sidebar-col-3.html">Multimedia</a></h6>
                                    <div class="ec-pro-rat-price">
                                        <div class="ec-pro-rat-pri-inner">
                                            <span class="ec-price">
                                                <span class="new-price">$230.00</span>
                                                <span class="old-price">$360.00</span>
                                            </span>
                                            <span class="ec-pro-rating">
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star-o"></i>
                                                <i class="ecicon eci-star-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="pro-hidden-block">

                                        <div class="ec-pro-desc">Lorem Ipsum is simply dummy text of the printing. </div>
                                        <div class="ec-pro-actions">
                                            <a class="ec-btn-group wishlist" title="Wishlist"><img
                                                    src="assets/images/icons/pro_wishlist.svg" class="svg_img pro_svg"
                                                    alt="" /></a>
                                            <button title="Add To Cart" class="add-to-cart btn btn-primary">Add To
                                                Cart</button>
                                            <a href="#" class="ec-btn-group quickview" data-link-action="quickview"
                                                title="Quick view" data-bs-toggle="modal"
                                                data-bs-target="#ec_quickview_modal"><img
                                                    src="assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                    alt="" /></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ec-product-content">
                            <div class="ec-product-inner">
                                <div class="ec-product-hover"></div>
                                <div class="ec-pro-image-outer">
                                    <div class="ec-pro-image">
                                        <a href="product-left-sidebar.html" class="image">
                                            <img class="main-image" src="assets/images/special-product/4_1.jpg"
                                                alt="Product" />
                                            <img class="hover-image" src="assets/images/special-product/4_2.jpg"
                                                alt="Product" />
                                        </a>
                                    </div>
                                </div>
                                <div class="ec-pro-content">
                                    <div class="ec-pro-option">
                                        <div class="ec-pro-opt-inner">
                                            <div class="ec-pro-color">
                                                <ul class="ec-opt-swatch ec-change-img">
                                                    <li class="active"><a href="#" class="ec-opt-clr-img"
                                                            data-src="assets/images/special-product/4_1.jpg"
                                                            data-src-hover="assets/images/special-product/4_2.jpg"
                                                            data-tooltip="Gray"><span
                                                                style="background-color:#202020;"></span></a></li>
                                                </ul>
                                            </div>
                                            <div class="ec-pro-compare">
                                                <a href="compare.html" class="ec-btn-group compare" title="Compare"><img
                                                        src="assets/images/icons/compare_5.svg" class="svg_img pro_svg"
                                                        alt="" /></a>
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="ec-pro-title"><a href="product-left-sidebar.html">Galacy 8 phone 4gb | 64gb </a></h5>
                                    <h6 class="ec-pro-stitle"><a href="shop-left-sidebar-col-3.html">Phone</a></h6>
                                    <div class="ec-pro-rat-price">
                                        <div class="ec-pro-rat-pri-inner">
                                            <span class="ec-price">
                                                <span class="new-price">$159.00</span>
                                                <span class="old-price">$200.00</span>
                                            </span>
                                            <span class="ec-pro-rating">
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star-o"></i>
                                                <i class="ecicon eci-star-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="pro-hidden-block">

                                        <div class="ec-pro-desc">Lorem Ipsum is simply dummy text of the printing.</div>
                                        <div class="ec-pro-actions">
                                            <a class="ec-btn-group wishlist" title="Wishlist"><img
                                                    src="assets/images/icons/pro_wishlist.svg" class="svg_img pro_svg"
                                                    alt="" /></a>
                                            <button title="Add To Cart" class="add-to-cart btn btn-primary">Add To
                                                Cart</button>
                                            <a href="#" class="ec-btn-group quickview" data-link-action="quickview"
                                                title="Quick view" data-bs-toggle="modal"
                                                data-bs-target="#ec_quickview_modal"><img
                                                    src="assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                    alt="" /></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ec-product-content">
                            <div class="ec-product-inner">
                                <div class="ec-product-hover"></div>
                                <div class="ec-pro-image-outer">
                                    <div class="ec-pro-image">
                                        <a href="product-left-sidebar.html" class="image">
                                            <img class="main-image" src="assets/images/special-product/6_1.jpg"
                                                alt="Product" />
                                            <img class="hover-image" src="assets/images/special-product/6_2.jpg"
                                                alt="Product" />
                                        </a>
                                    </div>
                                </div>
                                <div class="ec-pro-content">
                                    <div class="ec-pro-option">
                                        <div class="ec-pro-opt-inner">
                                            <div class="ec-pro-color">
                                                <ul class="ec-opt-swatch ec-change-img">
                                                    <li class="active"><a href="#" class="ec-opt-clr-img"
                                                            data-src="assets/images/special-product/6_1.jpg"
                                                            data-src-hover="assets/images/special-product/6_1.jpg"
                                                            data-tooltip="Gray"><span
                                                                style="background-color:#dfdfdf;"></span></a></li>
                                                    <li><a href="#" class="ec-opt-clr-img"
                                                            data-src="assets/images/special-product/6_2.jpg"
                                                            data-src-hover="assets/images/special-product/6_2.jpg"
                                                            data-tooltip="Orange"><span
                                                                style="background-color:#91b6ff;"></span></a></li>
                                                </ul>
                                            </div>
                                            <div class="ec-pro-compare">
                                                <a href="compare.html" class="ec-btn-group compare" title="Compare"><img
                                                        src="assets/images/icons/compare_5.svg" class="svg_img pro_svg"
                                                        alt="" /></a>
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="ec-pro-title"><a href="product-left-sidebar.html">Ultra sound smart speaker</a></h5>
                                    <h6 class="ec-pro-stitle"><a href="shop-left-sidebar-col-3.html">Multimedia</a></h6>
                                    <div class="ec-pro-rat-price">
                                        <div class="ec-pro-rat-pri-inner">
                                            <span class="ec-price">
                                                <span class="new-price">$768.00</span>
                                                <span class="old-price">$845.00</span>
                                            </span>
                                            <span class="ec-pro-rating">
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star-o"></i>
                                                <i class="ecicon eci-star-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="pro-hidden-block">

                                        <div class="ec-pro-desc">Lorem Ipsum is simply dummy text of the printing.</div>
                                        <div class="ec-pro-actions">
                                            <a class="ec-btn-group wishlist" title="Wishlist"><img
                                                    src="assets/images/icons/pro_wishlist.svg" class="svg_img pro_svg"
                                                    alt="" /></a>
                                            <button title="Add To Cart" class="add-to-cart btn btn-primary">Add To
                                                Cart</button>
                                            <a href="#" class="ec-btn-group quickview" data-link-action="quickview"
                                                title="Quick view" data-bs-toggle="modal"
                                                data-bs-target="#ec_quickview_modal"><img
                                                    src="assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                    alt="" /></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Feature Section End -->

            </div>
        </div>
    </section>