  

    <div class="ec-main-slider section ">

        <div class="ec-slider">
               @foreach (var slider in @ViewBag.Slider)
               
              {

            var imageUrl = string.IsNullOrEmpty(slider.ImageUrl) ? "default-image.png" : slider.ImageUrl; // Fallback image

                
                        <div class="ec-slide-item d-flex slide-1" style="background-image:url('/images/@imageUrl'); background-position: center;">
                <div class="container align-self-center">
                    <div class="row">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 align-self-center">
                            <div class="ec-slide-content slider-animation">
                                <h2 class="ec-slide-stitle">@slider.LiteTitle</h2>
                                <h1 class="ec-slide-title">@slider.Title</h1>
                                <p>@slider.Description</p>
                                <a href="#" class="btn btn-lg btn-secondary">Satın Al</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
             }

        </div>
    </div>